<h1>Wikiful Categories</h1>
<h3>Click on any link below to see articles tagged with that category</h3>
<% @categories.each do |category| %>
	<div>
		<h4><%= link_to category.name, category %></h4>
	</div>
<% end %>